<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="kr.board.mapper.MemberMapper">
	
	<select id="memCheckId" resultType="java.lang.String">
		SELECT memName FROM mem_tbl WHERE memId = #{memId}
	</select>
	
	<insert id="memRegister" parameterType="kr.board.entity.Member">
		INSERT INTO mem_tbl (
			memIdx,
			memId,
			memPassword,
			memName,
			memAge,
			memGender,
			memEmail,
			memProfile
		) VALUES (
			mem_tbl_seq.nextval,
			#{memId},
			#{memPassword},
			#{memName},
			#{memAge},
			#{memGender},
			#{memEmail},
			#{memProfile, jdbcType=VARCHAR}
		)
	</insert>
	
	<select id="memLogin" parameterType="kr.board.entity.Member" resultType="kr.board.entity.Member">
		SELECT * FROM mem_tbl
		WHERE memId = #{memId} AND memPassword = #{memPassword}
	</select>
	
	<update id="memUpdate" parameterType="kr.board.entity.Member">
		UPDATE
			mem_tbl
		SET
			memPassword = #{memPassword},
			memName = #{memName},
			memAge = #{memAge},
			memGender = #{memGender},
			memEmail = #{memEmail}
		WHERE
			memId = #{memId}
	</update>
	
	<!--
	<select id="getMember" resultType="kr.board.entity.Member">
		SELECT * FROM mem_tbl WHERE memId = #{memId}
	</select>
	-->
	
	<select id="getProfile" resultType="java.lang.String">
		SELECT memProfile FROM mem_tbl WHERE memId = #{memId}
	</select>
	
</mapper>